<html>
    <head>
        <title>Investor Log In/Sign Up</title>
    </head>
    <body>
        <h1>Investor Log In/Sign Up</h1>
        <p>{{session['error']}}<p>
        <form method="POST" action="/investlogintomongo">
            <label for="event_name">Username</label>
            <input required type="text" name="username" value="">
            <label for="event_date">Password </label>
            <input required type="text" name="password" value="">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>